/* Button */
.card-body {
    cursor: pointer;
}

#fullPage {
    width: 82%;
}

.category_margin {
    width: 18%;
    margin-right: 28px;
}

.heart {
    position: absolute;
    top: 10px;
    right: 15px;
}

.like {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    fill: #C1FF31FF;
}

.like:hover,
.like:focus {
    fill: #91ff31;
}

.like:active
.like:visited,
.like:active:focus,
.like:active:hover {
    fill: #c1ff31;
    border-color: #639d34;
}

.search_symbol {
    width: 24px;
    height: 24px;
}

.category {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;
}

.nav-link {
    display: flex;
    color: black;
    margin-right: 100px;
}

.text-decoration-none {
    font-size: 18px;
    color: cadetblue;
    margin-right: 20px;
}


/* container */
.tb_body {
    width: 80%;
    margin: 50px 155px 70px 150px;
}

.m_body {
    width: 79%;
    margin: 50px 155px 50px 166px;
    display: flex;
}

.wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 30px auto 80px auto;
    padding: 10px;
}

.nav {
    font-size: 25px;
    width: 980px;
}

.popular {
    margin: 30px 0px 30px 15px;
}

.card-body {
    text-align: center;

}

.h-100 {
    position: relative;
}


/* typing */
.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* index */
body {
    font-family: 'Roboto', Arial, sans-serif;
}

hr {
    /*투명도 없애기*/
    opacity: 1.25;
}

.category_line {
    border: solid 2px black;
}

/* text */
.label {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
}

.popular_search {
    margin-bottom: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
    font-weight: bold;
}

.card {
    border-radius: 30px;
    border-color: transparent;
}

.card-img-top {
    border-radius: 30px;
}

.price {
    color: dimgrey;
}

.community {
    margin: 80px 0px 50px 0px;
    font-weight: bold;
}

.ournames {
    margin: 100px 0px 0px 0px;
}

.ournames_line {
    border: solid 0.1px #C1FF31FF;
}

.copyright {
    text-align: right;
    margin: 25px 0px 5px 0px;
    font-size: 14px;
    font-weight: bolder;
}

.team_name {
    text-align: right;
    font-size: 13px;
    color: dimgray;
}


/* Next & previous buttons */
.prev {
    /*left: 280px;*/
    cursor: pointer;
    float:left;
    margin-left:10px;
    padding:8px 0px 8px 0px;
    width: 30px;
    color: #C1FF31FF;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}

.next {

    right: 280px;
    cursor: pointer;
    float: right;
    top: 50%;
    padding:8px 0px 8px 0px;
    width: 30px;
    color: #C1FF31FF;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}

/*!* On hover, add a black background color with a little bit see-through *!*/
/*.prev:hover, .next:hover {*/
/*    background-color: black;*/
/*}*/


/* #searchQuery */
#searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #ffffff;
    outline: none;
    border: 3px solid #c1ff31;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

/*슬라이드 기능*/
.slide_img {
    display: none;
    width: 960px;
    height: 411px;
    margin: 0 auto;
}

.slide_video {
    width: 960px;
    height: 411px;
    margin: 0 auto;

}

.w3-display-container {
    width: 80%;
    margin: 0 auto;
}

/*.w3-left, .w3-right, .w3-badge {cursor:pointer}*/
/*.w3-badge {height:13px;width:13px;padding:0}*/

/*카테고리*/
.container {
    overflow: hidden;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}